<!DOCTYPE html>
<html>
    <body>
        <h1>create account</h1>
        <form action="{% url 'createAccount' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="username" name="username">
            <br>
            <input type="password" placeholder="password" name="password">
            <br>
            <input type="password" placeholder="confirm password" name="password">
            <br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>